/*
Fuente
*/
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Joti+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Play:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    background: #4e54c8;
}

h1 {
    padding: 25px;
    font-family: "Kanit", sans-serif;    
    color: #ff8000;
    font-size: 100px;
    font-size: bold;
}

h2{
    font-family:'Joti One', serif;
    padding: 50px;
    font-size: 50px;
}

button{
    background-color: #ffd000;
    color: white;
    font-size: 40px;
    font-family: "Kanit", sans-serif;
    border: 15px;
    padding: 20px;
    border-radius: 10px;
}

img{
    padding-top: 30px;
    height: 100px;
}




